
        * {
            margin: 0;
            padding: 0px;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }
        body {
            line-height: 1.6;
        }

        header {
            background: #369aff;
            color: white;
            padding: 15px 30px;
            position: sticky;
            top: 0;
            z-index: 1000;
            width:100%;
            height: auto;
        }
        
        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .logo-area {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .logo-area img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }

        nav ul {
            display: flex;
            list-style: none;
            gap: 20px;
        }

        nav a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

        nav a:hover {
            color: #ffd700;
            text-decoration: underline;
            text-decoration-color: #ffd700;
            text-decoration-thickness: 1px;
        }

        section {
            padding-left: 5%;
            display: flex;
            align-items: center; /* aligns image and text vertically */
            gap: 20px; 
            max-height: 900px; /* limits the height of the section */
        }

        .section img {
        width: 250px;
        height: auto;
        }

        .section p {
        margin: 0;
        }
        #home {
            background: #ffffff;
        }

        #about {
            padding-right:10%;
            background: #f3f8ff;
            text-align: right;
            display: flex;
            justify-content: flex-end;
        }

        #services {
            background: #fafafa;
        }

        #contact {
            background: #f5f9ff;
        }

        h2 {
            margin-bottom: 20px;
            color: #004080;
        }

        .content-box {
            max-width: 900px;
        }
        .logo {
            max-width: 10%;
            height: auto;
            border-radius: 50%;
            object-fit: contain;
            background-color: white;
        }